@charset "UTF-8";

:root {
  --cor1: #9ae0c8;
  --cor2: #65cfa6;
  --cor3: #3ea07b;
  --cor4: #007045;
  --cor5: #04442c;
}

* {
  margin: 0%;
  padding: 0%;
}

header {
  background-color: var(--cor3);
  color: white;
  min-height: 50px;
  padding: 10px 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.678);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header > h1 {
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.678);
  text-align: center;
  width: 100px;
}

header > nav {
  padding: 25px;
  text-align: right;
}

header .side-left {
  display: grid;
  grid-template-columns: 1fr 10fr;
  padding: 10px;
  padding-left: 15px;
  align-items: center;
}

header .side-right {
  text-align: right;
}

header .side-right nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid var(--cor4);
  padding: 10px;
  transition: all ease 0.5s;
}

header .side-right nav a:hover {
  background-color: var(--cor1);
  color: var(--cor4)
}

main .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: auto;
  margin-bottom: auto;
}

main .container .item {
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  border: 5px solid var(--cor1);
}

footer {
  text-align: center;
  background-color: var(--cor3);
  color: white;
  font-weight: bold;
  min-height: 50px;
  padding-top: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer > ul {
  columns: 3;
}